<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soundtrack Search</title>
</head>
<body>
    <h1>Soundtrack Search</h1>
    <form action="/search" method="post">
        <label for="movie_name">Enter Movie Name:</label>
        <input type="text" name="movie_name" required>
        <button type="submit">Search</button>
    </form>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
</body>
<footer> Created by Daniela Barrera and Simon Janlöv</footer>
</html>
